.App {
  display: grid;
  grid-template-areas:
  "header header"
  "navBar content";
  grid-template-rows: 80px 100%;
  grid-template-columns: 300px 1000px;
  width: 1300px;
  height: 100%;
  text-align: left;
  font-family: Arial;
  border: 0;
  margin-left: auto;
  margin-right: auto;
}
.appWrapperContent{

  grid-area: content;
  margin: 10px 0px 10px 10px;

}



